.cart_name{
 font-size: 30px;
 width: 100px;

}

.cart_price{
 font-size: 15px;

}

.cart_count{
  font-size: 10px;
  font-weight: bold;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#cartbtn {
    transition: transform .2s;

}

#cartbtn:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

#myarea{
 margin-left: 5px;
 height: 400px;
 padding: 10px;
 overflow-y:scroll;
 width: 95%;
 border: 1px solid #F0F0F0;
 border-radius: 5px;
}
#totprice{
  margin-left: 5px;
  height: 110px;
  padding: 10px;
  width: 95%;
  border: 1px solid #F0F0F0;
  border-radius: 5px;
}
#lister{
  width: 1200px;
  padding-left: 10px;
  border-radius: 5px;
  border-width: 5px 1px 5px 1px;
  border-color: #253141;
  /* background-color: #C0C0C0; */
  background-color: #F0F0F0 ;
}
